body {
    background-color: #FFDBDB;
}

#menu-h {
    text-align: center;
    height: 50px;
}

#menu-h li {
    display: inline;
}

#menu-h li a {
    color: black;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h li a:hover {
    background-color: rgb(181, 245, 223);
}

.principal {
    display: block;
    text-align: center;
}

.Cabelos {
    display: block;
    text-align: center;
}

.imagens {
    text-align: center;
    display: flex;


}

.img1 {
    display: flex;
    font-size: 10px;
}

.img2 {
    display: flex;
    font-size: 15px;
}

.img3 {
    display: flex;
    font-size: 20px;
}

.img4 {
    display: flex;
    font-size: 20px;
}